{% load static %}

<html>

<head>
	<meta charset="utf8">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'Calculadora/styles/keyboard-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Calculadora/mathquill/mathquill.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Calculadora/styles/style.css' %}">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<script type="text/javascript" src="{% static 'Calculadora/scripts/jQuery v3.1.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'Calculadora/mathquill/mathquill.js' %}"></script>
	<script type="text/javascript" src="{% static 'Calculadora/scripts/table.js' %}"></script>

	<script src="{% static 'Calculadora/scripts/bootstrap.min.js'%}"></script>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
</head>

<body>
	{% include "navBar.html" %}

	<div>
		<h1 id="titulo">{% block head %} {% endblock %} </h1>
	</div>
	<!--
		Estilo de la calculadora 10% 
	-->
	<form action="/solve/" method="GET">
		
		<table>
			<tr><td colspan="5">{% block opciones %}{% endblock %}</td></tr>
			
			
			<tr width="100">
				<td {% block etiqueta %}{% endblock %}>
					{% block imagen %}{% endblock %}
				</td>
				<td style="width: 50%;">
					<p>Función:</p>
					<span id="pantalla" class="editor" style="background:#fff"></span>
					
				</td>
				<td >

					{% block content %} {% endblock %}
				</td>
				<td >

					{% block content2 %} {% endblock %}
				</td>
				<td >
					{% block content3 %} {% endblock %}
					<span type="hidden" type="text" id="codigo" name="funcion" value="2"
						style='padding:2%;'></span><br><br>
					<input type="hidden" id="aver" name="funcion" type="text" value="aver">
					<input type="hidden" id="aver2" name="tipo" type="text" value="{% block tipo %}{% endblock %}">
					<input type="submit" value="Resolver">
				</td>
			</tr>
		</table>
	</form>

	<table>
		<!-- 
                Primera fila de la calculadora de ANS 135
            -->
		<tr class="fila-estilo">
			<td><button class="form-control" onClick="insertar('(')">(</button></td>
			<td><button class="form-control" onClick="insertar(')')">)</button></td>
			<td>
				<button class="form-control" onClick="insertar('/')">
					<img src="{% static 'Calculadora/images/fraccion.png'%}" width="40px">
				</button>
			</td>
			<td>
				<button class="form-control" onClick="insertar('^2')">
					<img src="{% static 'Calculadora/images/cuadrado.png'%}" width="40px">
				</button>
			</td>
			<td>
				<button class="form-control" onClick="insertar('^3')">
					<img src="{% static 'Calculadora/images/tercera.png'%}" width="40px">
				</button>
			</td>
			<td><button class="form-control" onClick="insertar('sen\\left(\\right)')">sen</button></td>
			<td><button class="form-control" onClick="insertar('\\cos\\left(\\right)')">cos</button></td>
			<td><button class="form-control" onClick="insertar('\\tan\\left(\\right)')">tan</button></td>
		</tr>
		<!-- 
                Segunda fila de la calculadora de ANS 135
            -->
		<tr class="fila-estilo">
			<td><button class="form-control" onClick="insertar('[')">[</button></td>
			<td><button class="form-control" onClick="insertar(']')">]</button></td>
			<td><button class="form-control" onClick="insertar('\\pi')">&pi;</button></td>
			<td>
				<button class="form-control" onClick="insertar('^')">
					<img src="{% static 'Calculadora/images/potencia.png'%}" width="40px">
				</button>
			</td>
			<td>
				<button class="form-control" onClick="insertar('\\vec')">
					<img src="{% static 'Calculadora/images/absoluto.png'%}" width="40px">
				</button>
			</td>
			<td><button class="form-control" onClick="insertar('\\csc\\left(\\right)')">csc</button></td>
			<td><button class="form-control" onClick="insertar('\\sec\\left(\\right)')">sec</button></td>
			<td><button class="form-control" onClick="insertar('\\cot\\left(\\right)')">cot</button></td>
		</tr>
		<!-- 
                Tercera fila de la calculadora de ANS 135
            -->
		<tr class="fila-estilo">
			<td><button class="form-control" onClick="insertar('+')">+</button></td>
			<td>
				<button class="form-control" onClick="insertar('-')">
					<img src="{% static 'Calculadora/images/resta.png'%}" width="40px">
				</button>
			</td>
			<td>
				<button class="form-control" onClick="insertar('i')">
					<img src="{% static 'Calculadora/images/imaginario.png'%}" width="40px">
				</button>
			</td>
			<td>
				<button class="form-control" onClick="insertar('\\sqrt')">
					<img src="{% static 'Calculadora/images/raiz2.png'%}" width="40px">
				</button>
			</td>
			<td>
				<button class="form-control" onClick="insertar('\\nthroot')">
					<img src="{% static 'Calculadora/images/raiz.png'%}" width="40px">
				</button>
			</td>
			<td><button class="form-control" onClick="insertar('sen^{-1}\\left(\\right)')">sen<sup>-1</sup></button>
			</td>
			<td><button class="form-control" onClick="insertar('\\cos^{-1}\\left(\\right)')">cos<sup>-1</sup></a></td>
			<td><button class="form-control" onClick="insertar('\\tan^{-1}\\left(\\right)')">tan<sup>-1</sup></a></td>
		</tr>
		<!-- 
                Cuarta fila de la calculadora de ANS 135
            -->
		<tr class="fila-estilo">
			<td>
				<button class="form-control" onClick="insertar('*')">
					<img src="{% static 'Calculadora/images/multiplicacion.png'%}" width="40px">
				</button>
			</td>
			<td>
				<button class="form-control" onClick="insertar('\div')">
					<img src="{% static 'Calculadora/images/division.png'%}" width="40px">
				</button>
			</td>
			<td><button class="form-control" onClick="insertar('\\theta')">&theta;</button></td>
			<td><button class="form-control" onClick="insertar('e')"><i>e</i></button></td>
			<td><button class="form-control" onClick="insertar('\\ln\\left(\\right)')">ln</button></td>
			<td><button class="form-control" onClick="insertar('\\csc^{-1}\\left(\\right)')">csc<sup>-1</sup></a></td>
			<td><button class="form-control" onClick="insertar('\\sec^{-1}\\left(\\right)')">sec<sup>-1</sup></button>
			</td>
			<td><button class="form-control" onClick="insertar('\\cot^{-1}\\left(\\right)')">cot<sup>-1</sup></a>
			</td>
		</tr>
		<!-- 
                Quinta fila de la calculadora de ANS 135
            -->
		<tr class="fila-estilo">
			<td>
				<button class="form-control" onClick="insertar('.')">
					<img src="{% static 'Calculadora/images/punto.png'%}" width="40px">
				</button>
			</td>
			<td><button class="form-control" onClick="insertar('=')">=</button></td>
			<td><button class="form-control" title="Escalón unitario" onClick="insertar('U\\left(\\right)')">U</button>
			</td>
			<td>
				<button class="form-control" data-toggle="modal" data-target="#myModal">
					<img src="{% static 'Calculadora/images/texto.png'%}" width="40px">
				</button>
			</td>
			<td colspan="2"><input type="button" class="form-control" onclick="borrar()" value="Borrar"></td>
			<!--<td colspan="2"><input type="button" class="form-control" onclick="copiar('codigo')" value="Copiar"></td>-->
			<td colspan="2"><input type="button" class="form-control" onclick="copiar('codigo')" value="Resolver"></td>
		</tr>
	</table>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog" style="text-align:center">
		<div class="modal-dialog modal-sm">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Texto en pantalla</h4>
				</div>
				<div class="modal-body">
					<p><input type="radio" name="texto-size" onclick="textoSize('pequeño')"> Pequeño</p>
					<p><input type="radio" name="texto-size" onclick="textoSize('mediano')"> Mediano</p>
					<p><input type="radio" name="texto-size" onclick="textoSize('grande')"> Grande</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>


		<script src="{% static 'Calculadora/scripts/keyboard-functions.js'%}"></script>
		{% block js %} {% endblock %}
		
</body>

</html>