{% extends "calculadora.html" %}

{% block title %} Método de Muller {% endblock %}

{% block head %}
Método de Muller
{% endblock %}

{% block content %}
<p>Valor X0</p><input id="val1" name="valor1" type="number" step="any" required></input>
<p>Valor X1</p><input id="val2" name="valor2" type="number" step="any" required></input>

{% endblock %}
{% block content2 %}
<p>Valor X2</p><input id="val3" name="valor3" type="number" step="any" required></input>
<p>Cifras significativas</p><input id="cifras" name="cifras" type="number" required></input>
{% endblock %}

{% block tipo %}muller{% endblock %}