{% extends "calculadora.html" %}
{% load static %}

{% block title %} Métodos de Integracion Numérica {% endblock %}

{% block head %}
Métodos de Integración Numérica
{% endblock %}

{% block opciones %}
<div>
    <p style="display: inline-block;">Método para integración numérica: </p>
    <select style="display: inline-block;" name="opcion" id="opciones">
        <option value="1" selected>Trapecio</option>
        <option value="2">Trapecio compuesto</option>
        <option value="3">Simpson 1/3</option>
        <option value="4">Simpson 1/3 compuesto</option>
        <option value="5">Simpson 3/8</option>
        <option value="6">Simpson 3/8 compuesto</option>
    </select>
</div>
{% endblock %}

{% block imagen %}
<br><br>
<p>Limite superior:</p>
<input style="width: 75%; display: inline-block;" id="limInf" name="limSup" type="number" step="any" required></input>
<img style="display: inline-block;" src="{% static 'Calculadora/images/integral.png'%}" width="40px">
<input style="width: 75%;display: inline-block;" id="limSup" name="limInf" type="number" step="any" required></input>
<p>Limite inferior:</p>
{% endblock %}


{% block content %}
<p>Intervalos:</p><input id="intervalos" name="intervalos" type="number" step="any" disabled></input>

{% endblock %}

{% block tipo %}integracion{% endblock %}


{% block js %}
<script>
    let opcion = document.getElementById("opciones")
    let caja = document.getElementById("intervalos")

    opcion.addEventListener("change", () => {
        let elementoElegido = opcion.options[opcion.selectedIndex].value
        if (elementoElegido === "1" || elementoElegido === "3" || elementoElegido === "5") {
            console.log("aqui")
            caja.disabled = true

        } else {
            caja.disabled = false
        }
    })
</script>
{% endblock %}