{% extends "calculadora.html" %}
{% load static %}

{% block title %} Método de Integracion por Rosemberg {% endblock %}

{% block head %}
Método de Integracion por Rosemberg
{% endblock %}

{% block imagen %}
<br><br>
<p>Limite superior:</p>
<input style="width: 75%; display: inline-block;" id="limInf" name="limInf" type="number" required></input>
<img style="display: inline-block;" src="{% static 'Calculadora/images/integral.png'%}" width="40px">
<input style="width: 75%;display: inline-block;" id="limSup" name="limSup" type="number" required></input>
<p>Limite inferior:</p>
{% endblock %}


{% block content %}
<p>Nivel:</p><input id="nivel" name="nivel" type="number" required></input>

{% endblock %}

{% block tipo %}rosemberg{% endblock %}